@model IEnumerable<ecommerceAyman.Models.UserCart>

<h2>Your Cart</h2>
@if (ViewBag.UserName != null)
{
    <p>@ViewBag.UserName!</p>
}
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Quantity</td>
                <td>@cartItem.Product.Price</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="userCartId" value="@cartItem.UserCartID" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
       

    </tbody>
    
</table>
<a href="@Url.Action("Receipt", "User")" class="btn btn-info">Show Cart / Print Receipt</a>